<div id="blog" class="container-fluid p-0">
    <div class="row g-0">
        {% for post in site.posts limit: 6 %}
        <div class="col-lg-4 col-sm-6">
            <a href="{{ post.url | relative_url }}" class="portfolio-box">
                <img src="{{ post.image | default: '/img/images/1.jpg' | relative_url }}" class="img-fluid" alt="{{ post.title }}">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-date text-faded mb-1">
                            {{ post.date | date: "%B %d, %Y" }}
                        </div>
                        <div class="project-name mb-1">
                            {{ post.title }}
                        </div>
                        <div class="project-category text-faded">
                            {% if post.categories %}
                              {% for category in post.categories %}
                                {{ category }}{% unless forloop.last %}, {% endunless %}
                              {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
