<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-4 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa-solid fa-envelope fa-3x" data-aos="zoom-in" data-aos-delay="100" aria-hidden="true"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            {% for social in site.data.social %}
            {% if social.url != "" %}
            <div class="col-lg-2 col-md-3 col-sm-4 text-center">
                <a href="{{ social.url }}" aria-label="{{ social.platform }}: {{ social.username }}">
                    <i class="{{ social.icon }} fa-3x" data-aos="zoom-in" data-aos-delay="100" aria-hidden="true"></i>
                    <p>{{ social.username | default: social.platform }}</p>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
