<nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand page-scroll" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link page-scroll" href="{{ '/' | relative_url }}#about">About</a></li>
                <li class="nav-item"><a class="nav-link {% if page.url == '/cv/' %}active shadow-sm{% endif %}" href="{{ '/cv/' | relative_url }}">CV</a></li>
                <li class="nav-item"><a class="nav-link {% if page.url == '/blog/' %}active shadow-sm{% endif %}" href="{{ '/blog/' | relative_url }}">Blog</a></li>
                <li class="nav-item"><a class="nav-link page-scroll" href="{{ '/' | relative_url }}#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
