@use "sass:color";

@mixin transition-all() {
    transition: all 0.35s;
}

@mixin background-cover() {
    background-size: cover;
}

@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;
    @include transition-all;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: $color;
        background-color: color.adjust($background, $lightness: -5%);
        border-color: color.adjust($border, $lightness: -7%);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $background;
            border-color: $border;
        }
    }
}

@mixin sans-serif-font() {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font() {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
